<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/friendly.css">
    <title>Friendly</title>
</head>
<body>
    <div class="app-container">
        <aside class="sidebar-left">
            <div class="friends-button">
                <button onclick="location.href='/friends'">
                    <img src="/public/img/Logo.jpg" alt="Friends Logo">
                </button>
            </div>
            <div class="profile-button">
                <a href="/user">
                    <img src="/public/img/default_image.png" alt="Profil">
                </a>
            </div>
        </aside>
    </div>
    <div class="friends-panel">
        <div class="friends-search">
            <input type="text" placeholder="Rechercher des amis...">
        </div>
        <div class="friend-request">
            <button type="button">Demande d'amis</button>
        </div>
    </div>
</body>
</html>