{{define "register"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Formulaire d'inscription</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Inscription</h1>

    <form action="/register/submit" method="POST" enctype="multipart/form-data">
        <label for="username">Username</label>
        <input type="text" name="username" required><br><br>

        <label for="bio">Bio</label>
        <textarea name="bio" placeholder="bio (optionnel)"></textarea>

        <label for="image">Image de profil (optionnelle) :</label>
        <input type="file" name="image" accept="image/*"><br><br>

        <label for="email">Email :</label>
        <input type="email" name="email" required><br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">S'enregistrer</button>
    </form>
    <form action="/connect/submit" method="post">
        <label for="usernameOrEmail">User or Email</label>
        <input type="text" name="usernameOrEmail" placeholder="username or email">
    
        <label for="password">Password</label>
        <input type="text" name="password" placeholder="password">

        <button type="submit">Se connecter</button>
    </form>
</body>

</html>
{{end}}